<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Get Legs Test</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/1.9.1/jquery.min.js"
            th:src="@{/webjars/jquery/1.9.1/jquery.min.js}"></script>
</head>
<body>


<h1>Создать заказ</h1>
<!--/*@thymesVar id="order" type="ru.fivt.dostavimvse.models.Order"*/-->
<div class="order-info">
    <p style="display: none;" id="clientid" th:text="${id}"></p>
    <button id="main-page">На главную</button>

    <div>
        <label for="receiver-id">id получателя</label>
        <input type="text" id="receiver-id"/>
    </div>

    <div>
        <label for="start-vertex-id">Стартовая вершина</label>
        <input type="text" id="start-vertex-id" />
    </div>
    <div>
        <label for="end-vertex-id">Конечная вершина</label>
        <input type="text" id="end-vertex-id" />
    </div>


    <div>
        <select>
            <option th:each="orderType: ${orderTypes}" th:value="${orderType.toString()}" th:text="${orderType.toString()}">Test</option>
        </select>
    </div>


    <button id="send-order">Отправить</button>
</div>
<script>
    jQuery(document).ready(function($) {
        function BrowserClient() {

            BrowserClient.prototype.sendOrderButton = document.getElementById("send-order");
            BrowserClient.prototype.mainPageButton = document.getElementById("main-page");



            BrowserClient.prototype.getMainPage = function () {
                window.location = '/';
            };

            BrowserClient.prototype.createOrder = function () {
                var data = {};
                data["products"] = [{"weight": 0.8, "price": 0.4}];
                data["orderType"] = "TIME";
                data["startVertex"] = document.getElementById("start-vertex-id").value;
                data["endVertex"] = document.getElementById("end-vertex-id").value;

//                data["receiverId"] = 12;
                var clientId = document.getElementById("clientid").innerText;
                alert(clientId);
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/create/11?receiver=" + document.getElementById("receiver-id").value,
                    data: JSON.stringify(data),
                    dataType: "json"
                }).done(function (data) {
                    if (data.code != 200) {
                        alert(data.message);
                    } else {
                        window.location = "/order/" + data.orderId[0];
                    }
                });
            }
        }

        var client = new BrowserClient();
        client.mainPageButton.onclick = function() {
            client.getMainPage();
        };
        client.sendOrderButton.onclick = function() {
            client.createOrder();
        };
    });

</script>
</body>
</html>