<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello !'" ></p>

<!--/*@thymesVar id="client" type="ru.fivt.dostavimvse.models.Client"*/-->
<p th:text="${client.getId()}"></p>

<div class="orders">
    <div th:each="order : ${client.getOrders()}">
        <p th:text="${order.getStartDate()}"></p>
    </div>
</div>
</body>
</html>